<!DOCTYPE html>
<html lang="en" ng-app="HangmanGame" ng-controller="ctrl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div>
        <span>Guesses left: {{guesses}}</span>
        <br><br>
        <span>Wrong letters guessed: 
            <span ng-repeat="letter in wrongLettersSubmitted">
                {{letter}}
            </span>
        </span>
        <br><br>
        <span>Correct letters guessed: 
            <span ng-repeat="letter in correctLettersSubmitted">
                {{letter}}
            </span>
        </span>
        <br><br>
        <span>You have to guess: {{displayWord}}</span>
        <br><br>
    </div>

    <div>
        <input type ="text" name="guess" ng-model="input.letter">
        <button ng-click="letterSubmitted()">Submit</button>
    </div>
</body>
</html>